{{> header }}
<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">Demo heading</h1>
    <p class="lead">This is an user base app built with following features:
      <ul class="list-group">
        <li class="list-group-item"> Express as server </li>
        <li class="list-group-item"> Handlebars as template engine </li>
        <li class="list-group-item"> Express-session & express-mysql-session as user session solution
        </li>
        <li class="list-group-item"> Express-validator as backend validation solution </li>
        <li class="list-group-item"> Passport as authentication solution </li>
      </ul>
      <br>
      <p><a class="btn btn-lg btn-success" href="https://github.com/dudueasy/Nodejs-Authentication-Webapp" role="button">Know
          more</a></p>
  </div>