{{> header }}
    <div class="container">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome back {{username}}</h4>
    <p>You are registered with {{email}}</p> 
</div>
      

