.nav-link{
  color: black;
  padding: 0.5em 1em;
}

.btn-link{
  color:#000;
}
.btn-link:hover{
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}

.navbar-brand > img{
    height: 50px;
}

@media( max-width:768px ){
  .navbar-brand > img{
    height: 50px;
  }

}

@media( max-width: 414px){
  .navbar-brand > img{
    height: 40px;
  } 
  .nav-link{
  padding: 0.5em 1em;
  }
}

@media( max-width: 375px){
  .navbar-brand > img{
    height: 40px;
  } 
  .nav-link{
  padding: 0.5em;
  }
}

@media (max-width: 320px){
  .navbar-brand > img {
      height: 30px;
  } 
  .nav-link{
  padding: 0.4em;
  }
}

